<div class="header">
    <div class="header__main">
        <div class="header__search">
            <app-logo-button (click)="routeToMain()"></app-logo-button>
            <app-search-item (toggleDisplay)="toggleDisplay()"></app-search-item>
        </div>
        <div class="header__profile">
            <app-profile-settings></app-profile-settings>
            <button class="header__button" routerLink="admin">admin</button>
            <button *ngIf="!isLoginHidden" class="header__button" (click)="login()">login</button>
            <button *ngIf="isLoginHidden" class="header__button" (click)="logout()">logout</button>
        </div>
    </div>
    <div *ngIf="isSortingVisible" class="header__sort">
        <app-search-sorting></app-search-sorting>
    </div>
</div>