@import "../../../../styles/styles.scss";

.search-sorting {
    height: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    &__header {
        color: #929292;
    }
    
    &__buttons {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    
    &__button {
        text-decoration: underline;
        color: $blue;
        background: transparent;
    }

    &__subheader {
        color: $blue;
    }
    
    &__input {
        padding: 2px;
        width: 150px;
        height: 14px;
        &:focus {
            outline: none;
        }
    }
}

@media (max-width: 636px) {
    .search-sorting {
        &__input {
            height: 26px;
        }
    }
}

@media (max-width: 370px) {
    .search-sorting {
        &__buttons {
            gap: 8px;
        }
    }
}

@media (max-width: 340px) {
    .search-sorting {
        &__input {
            width: 130px;
        }
    }
}
