:host {
    padding: 30px 0;
    margin: 0 auto;
    width: 1138px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.result__item {
    width: 262px;
    height: 326px;
}