@import "../../../../styles/styles.scss";

.search-item {
    margin-left: 10px;
    display: flex;
    &__input {
        padding: 4px;
        width: 396px;
        height: 26px;
        font-size: 18px;
        line-height: 22px;
        &:focus {
            outline: none;
        }
        &:disabled {
            background-color: $white;
        }
    }

    &__settings-button {
        margin-left: 10px;
        width: 24px;
        height: 24px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../../../../assets/icons/searchSettings.svg");
        border-radius: 6px;
        filter: drop-shadow(2px 0px 4px $blue);
    }
}
