@import "../../../../styles/styles.scss";



.search-item {
    margin-left: 10px;
    display: flex;
    align-items: center;
    &__input {
        padding: 4px;
        width: 396px;
        height: 26px;
        font-size: 18px;
        line-height: 22px;
        &:focus {
            outline: none;
        }
        &:disabled {
            background-color: $white;
        }
    }

    &__settings-button {
        margin-left: 10px;
        margin-right: 4px;
        width: 24px;
        height: 24px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../../../../assets/icons/searchSettings.svg");
        border-radius: 8px;
        filter: drop-shadow(2px 0px 4px $blue);
    }
}

@media (max-width: 1278px) {
    .search-item {
        &__input {
            width: 408px;
            height: 40px;
        }
        &__settings-button {
            width: 40px;
            height: 40px;
        }
    }
}

@media (max-width: 900px) {
    .search-item {
        &__input {
            width: 364px;
        }
    }
}

@media (max-width: 636px) {
    .search-item {
        &__input {
            width: calc(100vw - 204px);
        }
        &__settings-button {
            margin-right: 4px;
        }
    }
}

@media (max-width: 430px) {
    .search-item {
        &__input {
            width: calc(100vw - 184px);
        }
    }
}
