@import "../../../styles.scss";

$header-center-width: 570px;

.header {
    width: 100%;
    display: flex;
    background-color: $light-grey;
    &__center {
        margin-left: calc((100% - $header-center-width) / 2);
        width: $header-center-width;
        display: flex;
        flex-direction: column;
    }

    &__center-top {
        padding: 15px 0;
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
    }

    &__center-bottom {
        width: 100%;
        display: flex;
        align-items: center;
        transition: height 0.4s, visibility 0.2s, opacity 0.4s;
    }

    &__right {
        width: calc((100% - $header-center-width) / 2);
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.hidden {
    height: 0;
    visibility: hidden;
    opacity: 0;
}

.visible {
    height: 50px;
    visibility: visible;
    opacity: 1;
}
