.result-item {
    padding: 20px 31px 15px 31px;
    width: 263px;
    height: 327px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.result-item-logo {
    width: 223px;
    height: 123px;
}

.result-item-statistics {
    display: flex;
    gap: 17px;
}

.result-item-title {
    margin: 0;
    align-self: flex-end;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: right;
}

.result-item-btn {
    margin-top: auto;
}

.yellowBorder {
    border-bottom: 5px solid yellow;
}

.blueBorder {
    border-bottom: 5px solid blue;
}

.greenBorder {
    border-bottom: 5px solid green;
}

.redBorder {
    border-bottom: 5px solid red;
}