<form [formGroup]="form" class="login-form" (ngSubmit)="submit()">
    <h4 class="login-form__header">Login</h4>
    <label for="login" class="login-form__label">login</label>
    <input formControlName="login" type="text" name="login" class="login-form__input">
    <div class="login-form__validation" *ngIf="form.get('login')?.invalid">
        <span *ngIf="form.get('login')?.errors!['required']">Please enter a login email</span>
        <span *ngIf="form.get('login')?.errors!['email'] && form.get('login')?.touched">The login email is invalid</span>
    </div>
    <label for="password" class="login-form__label">password</label>
    <input formControlName="password" type="password" name="password" class="login-form__input">
    <div class="login-form__validation" *ngIf="form.get('password')?.invalid">
        <span *ngIf="form.get('password')?.errors!['required']">Please enter a password</span>
    </div>
    <button type="submit" class="login-form__button" [disabled]="form.invalid">Login</button>
</form>