@import "../../../../styles.scss";

:host {
    padding: 24px 20px;
    width: 350px;
    height: 250px;
    background: $light-grey;
}

.login-form {
    display: flex;
    flex-direction: column;
    &__header {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: $black;
    }
    
    &__label {
        padding-left: 6px;
        margin-top: 4px;
        font-size: 10px;
        line-height: 12px;
        color: $grey;
    }
    
    &__label:first-child {
        margin-top: 10px;
    }
    
    &__input {
        margin-top: 4px;
        width: 100%;
        height: 38px;
        font-size: 10px;
        line-height: 12px;
        background: $white;
    }
    
    &__button {
        margin-top: 22px;
        width: 80px;
        height: 24px;
        display: flex;
        align-self: flex-end;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $white;
        background-color: $blue;
    }
}
