$header-center-width: 600px;

:host {
    width: 100%;
    display: flex;
}

.header-center {
    margin-left: calc((100% - $header-center-width) / 2);
    width: 600px;
    display: flex;
    flex-direction: column;
}

.header-center-top {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.header-right {
    width: calc((100% - $header-center-width) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}