$header-center-width: 600px;

:host {
    width: 100%;
    display: flex;
}

.header-center {
    margin-left: calc((100% - $header-center-width) / 2);
    width: 600px;
    display: flex;
}

.header-center-top {
    padding: 15px 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.header-right {
    width: calc((100% - $header-center-width) / 2);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}