:host {
    width: 24px;
    height: 24px;
    border-radius: 5px;
}

.square-button {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-color: inherit;
}

.square-button:hover {
    cursor: pointer;
}
