
@import "../../../../styles.scss";

:host {
    margin: 44px auto 0;
    height: 460px;
}

.details {
    width: 100%;
    height: 100%;
    display: flex;
    &__back-button {
        width: 32px;
        height: 32px;
        border-radius: 6px 0px 0px 6px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("../../../../assets/icons/leftArrow.svg");
    }
    
    &__main-block {
        display: flex;
        box-shadow: 6px 6px 20px rgba(51, 51, 51, 0.25);
        border-radius: 0px 0px 6px 0px;
    }
    
    &__image {
        width: 730px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $black;
    }
    
    &__info {
        padding: 36px 36px 26px;
        width: 436px;
        display: flex;
        flex-direction: column;
        background: $light-grey;
        border-radius: 0px 0px 5px 0px;
    }
    
    &__header-row {
        display: flex;
        justify-content: space-between;
    }
    
    &__header {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: $black;
    }
    
    &__date {
        align-self: flex-end;
        font-size: 10px;
        line-height: 12px;
        text-align: right;
        color: $grey;
    }
    
    &__subheader {
        margin-top: 60px;
        font-size: 14px;
        line-height: 16px;
        color: $black;
    }
    
    &__description {
        margin-top: 4px;
        font-size: 12px;
        line-height: 14px;
        color: $grey;
        overflow-y: scroll;
    }
    
    &__statistics {
        padding-top: 30px;
        flex: 1 0 auto;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 18px;
    }
}
