:host {
    margin: 44px auto 0;
    height: 461px;
    display: flex;
}

.details-page-back-button {
    width: 32px;
    height: 32px;
    border-radius: 5px 0px 0px 5px;
    background-color: #27ae60;
}

.details-page-image {
    width: 729px;
    background-color: black;
}

.details-page-info {
    padding: 35px 35px 25px 35px;
    width: 436px;
    display: flex;
    flex-direction: column;
    background: #e5e5e5;
}

.details-page-header-row {
    display: flex;
    justify-content: space-between;
}

.details-page-header {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.details-page-date {
    align-self: flex-end;
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    color: #828282;
}

.details-page-subheader {
    margin-top: 60px;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.details-page-description {
    margin-top: 4px;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
}

.details-page-statistics {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 17px;
}