:host {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.not-found {
    display: flex;
    align-items: center;
    &__logo {
        margin-top: 10px;
        width: 100px;
        object-fit: cover;
    }
    
    &__text {
        margin-left: 28px;
        width: 230px;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        color: #828282;
    }
}
